#{if controllers.Secured.check("ADMINISTRATOR")}
	<li><a class="icon adm-main" href="@{Admin.index()}" title="&{'main.tools.admin.tooltip'}">&{'main.tools.admin.label'}</a></li>
	<li><a class="icon adm-users" href="@{administration.Users.list()}" title="&{'main.tools.users.tooltip'}">&{'main.tools.users.label'}</a></li>
#{/if}
#{if controllers.Secured.check("ADMINISTRATOR,MODERATOR")}
	<li><a class="icon adm-posts" href="@{administration.Posts.list()}" title="&{'main.tools.posts.tooltip'}">&{'main.tools.posts.label'}</a></li>
#{/if}
