#{extends 'main.html' /}
#{set title:'Bloggg !' /}

<section class="history">
	<h2>&{'main.history.title'}</h2>
	<ul>
	#{list items:histoposts, as:'post'}
	<li id="${post.id}"><a href="@{Application.show(post.id)}">${post.title}</a></li>
	#{/list}
	</ul>
</section>

<section class="posts">
	#{list items:posts, as:'post'}
	<article id="${post.id}">
		<h2><a href="@{Application.show(post.id)}" title="&{'home.post.readfullstory.tooltip'}">${post.title}</a></h2>
		<div class="content">
		${post.content.raw()} 
		<a href="@{Application.show(post.id)}" title="&{'home.post.readfullstory.tooltip'}">...</a>
		</div>
		<div class="info">author: ${post.author.username}, created At ${post.createdAt}</div>
	</article>
	#{/list}
</section>
